.feature {
 padding-bottom: 130px;

 &-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 170px;
 }

 &-image {
  flex-shrink: 0;
  padding-top: 95px;
  padding-left: 34px;
 }

 &-heading {
  margin-bottom: 20px;
 }

 &-desc {
  margin-bottom: 23px;
 }

 &-list {
  list-style-type: none;
 }

 &-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 21px;
  font-size: 14px;
 }
}