@import "variables";

h1, h2, h3, h4, h5, h6 {
 color: $heading-color;
 font-weight: 700;
}

.boxed {
 max-width: 555px;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.heading {
 font-size: 35px;
 font-weight: 500;
 line-height: calc(50 / 35);
}

.text {
 font-weight: 400;
 line-height: calc(30 / 16);
}

.text-medium {
 font-weight: 500;
}