html {
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
  font: inherit;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
  user-select: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {
  input[type=color],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4F5665;
  font-weight: 400;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  cursor: pointer;
  border: none;
  outline: none;
}
.button--primary {
  font-weight: 700;
  background-color: #F53838;
  color: white;
}
.button--outline {
  background-color: transparent;
  color: #F53838;
  font-weight: 500;
  border: 1px solid;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 65px;
}
.button--shadow {
  box-shadow: 0 30px 54px -15px #F53838;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 13px 26px;
  }
}
.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}
.header-signin {
  font-weight: 500;
  color: #0B132A;
}
.header-signup {
  font-weight: 500;
  color: #F53838;
  padding: 13px 45px;
  border-radius: 50px;
  border: 1px solid #F53838;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
}

@media screen and (max-width: 1023px) {
  .menu {
    display: none;
  }
  .header {
    padding: 25px 0 50px;
  }
}
.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero-content {
  width: 100%;
  max-width: 555px;
}
.hero-image {
  position: absolute;
  right: -67px;
}
.hero-heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #0B132A;
}
.hero-desc {
  line-height: 1.875;
  margin-bottom: 50px;
}
.hero-desc strong {
  font-weight: 500;
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 37px 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 42px 114px -27px #D9D9D9;
  min-height: 200px;
}
.intro-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 36.5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.intro-item:nth-child(2) {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}
.intro-title {
  font-size: 25px;
}

.feature {
  padding-bottom: 130px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 170px;
}
.feature-image {
  flex-shrink: 0;
  padding-top: 95px;
  padding-left: 34px;
}
.feature-heading {
  margin-bottom: 20px;
}
.feature-desc {
  margin-bottom: 23px;
}
.feature-list {
  list-style-type: none;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 21px;
  font-size: 14px;
}

.plan {
  background-color: #FBFBFB;
  padding: 80px 0 150px 0;
}
.plan .heading {
  max-width: 384px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.plan .text {
  margin-bottom: 23px;
}
.plan .boxed {
  margin-bottom: 60px;
}
.plan-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 0 25px;
}
.plan-info {
  padding-top: 80px;
  padding-bottom: 50px;
  border-radius: 10px;
  border: 2px solid #DDDDDD;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-info.is-active, .plan-info:hover {
  border-color: #F53838;
}
.plan-info.is-active .button, .plan-info:hover .button {
  background-color: #F53838;
  color: #FFFFFF;
}
.plan-image {
  margin: 0 auto 30px;
}
.plan-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.plan-list {
  list-style-type: none;
  margin-bottom: 50px;
}
.plan-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2.1428571429;
  margin-bottom: 10px;
  gap: 0 20px;
}
.plan-price {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: auto;
}
.plan-button {
  padding: 13px 63px;
}

.network {
  background-color: #FBFBFB;
}
.network .heading {
  max-width: 384px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.network .text {
  margin-bottom: 155px;
}
.network-image img {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #0B132A;
  font-weight: 700;
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4285714286;
}

.text {
  font-weight: 400;
  line-height: 1.875;
}

.text-medium {
  font-weight: 500;
}

.partner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 50px;
  margin-bottom: 50px;
}

.customer .boxed {
  margin-bottom: 60px;
}
.customer .heading {
  max-width: 447px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.customer-container {
  padding-left: 150px;
}
.customer-item {
  border-radius: 10px;
  border: 2px solid #DDDDDD;
  padding: 30px;
  margin-right: 50px;
  min-height: 250px;
}
.customer-item.slick-current.slick-active {
  border-color: #F53838;
}
.customer-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-account {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.customer-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
}
.customer-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.customer-rating {
  display: flex;
  align-items: baseline;
  gap: 0 10px;
}
.customer .slick-track {
  display: flex;
  padding-bottom: 104px;
}
.customer .slick-dots {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 15px;
  transform: translateY(-140%);
}
.customer .slick-dots button {
  font-size: 0;
  background-color: #DDE0E4;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  transition: all 0.2s linear;
  vertical-align: middle;
}
.customer .slick-dots .slick-active button {
  background-color: #F53838;
  width: 45px;
}
.customer .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F53838;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.customer .slick-prev {
  background-color: transparent;
  right: 230px;
}
.customer .slick-next {
  background-color: #F53838;
  right: 150px;
}

.subscribe {
  transform: translateY(50%);
}
.subscribe-container {
  padding: 59px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 34px 57px -31px rgba(13, 16, 37, 0.06);
}
.subscribe-content {
  max-width: 410px;
}
.subscribe .heading {
  max-width: 371px;
}

.footer {
  padding-bottom: 100px;
  padding-top: 180px;
  background-color: #FBFBFB;
}
.footer-container {
  display: grid;
  grid-template-columns: 5fr 1fr 2fr 2fr;
  grid-gap: 126px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-desc {
  margin-bottom: 30px;
  max-width: 340px;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .copy-right {
  color: #AFB5C0;
}
.footer-heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6666666667;
}
.footer-links {
  list-style-type: none;
}
.footer-item {
  margin-bottom: 10px;
  line-height: 1.875;
}
.footer-link {
  color: inherit;
}

/*# sourceMappingURL=app.css.map */
